/* 
=====================================================
======================== ALL ========================
=====================================================
 */

 @import url("https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

*{
  box-sizing: border-box;
  padding: 0;
  margin : 0;
  font-family: "Inria", sans-serif;
}

#wrapper{
    min-height: 100vh;
    background: hsl(0, 0%, 0%);
    gap: 20px;
    overflow:hidden;
}

p, h1, h2, h3, h4{
    color: white;
}

.inria-sans-light {
    font-family: "Inria Sans", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .inria-sans-regular {
    font-family: "Inria Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .inria-sans-bold {
    font-family: "Inria Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .inria-sans-light-italic {
    font-family: "Inria Sans", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .inria-sans-regular-italic {
    font-family: "Inria Sans", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .inria-sans-bold-italic {
    font-family: "Inria Sans", sans-serif;
    font-weight: 700;
    font-style: italic;
  }

  table{
    color:white;
  }

table img{
    height: 200px;
}

/* 
=====================================================
====================== HEADER =======================
=====================================================
 */

header{
    display: flex;
    top: 0;
    position: sticky;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 15px;
    background-color: rgb(34, 34, 34);
    z-index: 1;
}

header .navbar{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 60px;
}

.clientNavbar{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

#navbarphone{
    display:none;
}

header a{
    color: white;
    transition: 0.5s;
}

a:link { 
    text-decoration: none; 
} 
a:visited { 
    text-decoration: none; 
} 
header a:hover { 
    color: hsl(0, 0%, 75%);
    transition: 0.5s;
} 
a:active { 
    text-decoration: none; 
}

.logo{
    width: 50px;
}

.menuBurger{
    display: none;
}
#navbarphone{
    display:none;
}


/* 
=====================================================
======================= HOME ========================
=====================================================
 */

 .home{
    background-image: url(../img/fond.png);
    background-size: cover;
    background-position:bottom;
    background-repeat: no-repeat;
    height: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 0;
 }

.welcomeBack{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.affiche{
    border-radius: 35px;
    position: relative;
    width: 1500px;
    padding-bottom: 50px;
}

.affichePoster{
    display: flex;
    padding: 0% 10%;
    width: 100%;
    position: relative;
    z-index: 0;
}

@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits:false;
}

.affichePoster::after, .affichePoster::before{
    --angle: 0deg;
    content:'';
    position: absolute;
    height: 100%;
    width: 80%;
    background-image: conic-gradient(from var(--angle), black, rgb(0, 75, 196),black );
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    padding: 5px;
    z-index: -1;
    border-radius: 40px;
    animation: 3s spin linear infinite;
}

.affichePoster::before{
    --angle: 0deg;
    padding: 15px;
    background-image: conic-gradient(from var(--angle), black, rgb(0, 75, 196),black );
    filter: blur(1rem);
}

@keyframes spin {
    from{
        --angle:0deg;
    }    
    to{
        --angle:360deg;
    }
}

.poster{
    overflow: hidden;
    height:290px ;
    width: 100%;
    padding: 0%;
    border-radius: 35px 0px 0px 35px;
}

.affiche img{
    width: 600px;
}

.infoAffiche{
    display: flex;
    flex-direction: column;
    padding: 25px;
    background: linear-gradient(0.30turn,rgb(14, 27, 44),rgb(15, 29, 46), rgba(20, 54, 85, 1));
    border-radius: 0px 35px 35px 0px;
    width: 100%;
    gap: 10px;
}

.infoAffiche .title{
    font-size: 30px;
}

.infoAffiche .synopsis{
    font-size: small;
}

.viewButton{
    position:relative;
    width: 100%;
    height: 100%;
}

.viewButton a{
    position:absolute;
    right: 0%;
    bottom: 0%;
    color: white;
    font-size: 30px;
}

/* 
=====================================================
====================== MOVIES =======================
=====================================================
 */

.latestMovies{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.latestMovies h2{
    padding-bottom: 50px;
}

.lastFilmsList{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 150px;

}

.posterList{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.infoFilmList{
    width: 1000px;
    padding-left: 150px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.infoFilmList .title{
    font-size: 50px;
}

.infoFilmList .releaseDate{
    color: gray;
}

.infoFilmList .director{
    
}

.posterList img{
    display: flex;
    justify-content: center;
    width: 300px;
    border-radius: 35px;
}

.posterFilmList{
    position: relative;
    z-index: 0;
}

.posterFilmList::after, .posterFilmList::before{
    content:'';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(from var(--angle), black, rgba(255, 255, 255, 0.219),black );
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    padding: 5px;
    z-index: -1;
    border-radius: 40px;
    animation: 3s spin linear infinite;
}

.posterFilmList::before{
    --angle: 0deg;
    padding: 15px;
    background-image: conic-gradient(from var(--angle), black, rgba(255, 255, 255, 0.192),black );
    filter: blur(1rem);
}

.linkToDetail{
    color: white;
    font-size: 30px;
    display: flex;
    justify-content: end;
    align-items: center;
    border-bottom: solid;
}

.buttonMore{
    border:solid white 2px;
    padding: 15px;
    font-size: 20px;
    color: white;
    transition: 0.5s;
    background-image: radial-gradient(rgba(0, 0, 0, 0.288), rgba(255, 255, 255, 0.13));
}

.buttonMore:hover{
    background-color: white;
    color: black;
    transition: 0.5s;
}

/* 
=====================================================
=================== LastestACTOR ====================
=====================================================
 */

.latestActor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.latestActor h2{
    padding:5% 0%;
}

.LastActorsList{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px;
    width: 60%;
}

.actorsList{
    overflow: hidden;
    border-radius: 15px;
}

.infoActorList{
    padding: 5%;
    background-color: rgb(22, 22, 36);
}

.infoActorList .linkToDetail{
    padding-top: 20px;
    padding-bottom: 5px;
    font-size: large;
}

.profilPhotoList img{
    width: 200px;
    height: 270px;
}

/* 
=====================================================
====================== DETAIL =======================
=====================================================
 */

.profilPhoto{
    height: 500px;
}

.posterDetail{
    height: 500px;
}

/* 
=====================================================
======================= MEDIA =======================
=====================================================
 */


 @media only screen and (max-width: 1300px) {

    #wrapper{
        position: relative;
        overflow:hidden;
    }

/* 
=====================================================
====================== HEADER =======================
=====================================================
 */



/* 
=====================================================
======================= HOME ========================
=====================================================
 */

 
 .home{
    background-image: url();
    background-size: cover;
    background-position:bottom;
    background-repeat: no-repeat;
    height: auto;
    position: relative;
 }

 .affiche{
    border-radius: 35px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1500px;
    padding-bottom: 50px;
}

 .affichePoster{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0% 10%;
    width: 60%;
    position: relative;
    z-index: 0;
}

.poster{
    overflow: none;
    height:100% ;
    width: 100%;
    padding: 0%;
    border-radius: 35px 35px 0px 0px;
}

.infoAffiche{
    display: flex;
    flex-direction: column;
    padding: 25px;
    background: linear-gradient(0.30turn,rgb(14, 27, 44),rgb(15, 29, 46), rgba(20, 54, 85, 1));
    border-radius: 0px 0px 35px 35px;
    width: 100%;
    gap: 10px;
}


.affichePoster::after, .affichePoster::before{
    width: 67%;

}

.affichePoster::before{
    --angle: 0deg;
    padding: 15px;
    background-image: conic-gradient(from var(--angle), black, rgb(0, 75, 196),black );
    filter: blur(1rem);
}

.viewButton{
    height: 40px;
}


.LastActorsList{
    width: 80%;
}


 }

 /* 
=====================================================
======================= MEDIA =======================
=====================================================
 */
 
 @media only screen and (max-width: 1100px) {
     
header{
    position:static;
}

header .navbar{
    list-style-type: none;
    display: none;
    flex-direction: row;
    gap: 60px;
}

.menuBurger{
    display: block;
}

#iconClose{
    display: none;
}

.menuBurger i{
    font-size: 30px;
}

#iconClose{
    position: absolute;
    right: 40%;
}

#navbarphone{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 20%;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.589);
    backdrop-filter: blur(4px);
    padding: 40px;
}

#navbarphone ul{
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 20px;
    list-style: none;
}

.affiche img{
    width: 300px;
}

.affichePoster{
    width: 40%;
}

.affichePoster::after, .affichePoster::before{
    width: 50%;
}

table{
}



/* 
=====================================================
====================== MOVIES =======================
=====================================================
 */

.posterList{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

.infoFilmList{
    width: 100%;
    padding-left:0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.infoFilmList .title{
    padding-top: 50px;
}

 }